/* Header.css */

.header {
    width: 100%;
    background-color: #4CAF50;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    display: inline-block;
    text-decoration: none;
  }
  
  .logo {
    max-width: 50px; /* Adjust size as needed */
    height: auto;
  }
  